.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
.container header {
  padding-top: 20px;
}
.container header a {
  display: block;
  color: rgb(229, 9, 20);
  font-size: 28px;
  font-weight: bold;
  box-sizing: border-box;
}
.container main {
  padding-top: 40px;
  padding-bottom: 120px;
}
